*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

body{
    background-color: rgb(241, 233, 217);
}

/*nav1*/
.title{
    position: relative;
    margin-left: 100px;
    width: 40%;
    height: auto;
    top: 60%;
}
.poko{
    font-family: fantasy;
    font-size: 80px;
    letter-spacing: 2px;
}

.nav{
    height: 200px;
    top: 0;
    width: 100%;
    position: absolute;
    background-color: rgb(241, 233, 217);
    padding: 0;
    padding-top: 50px;
    padding-bottom: 50px;
    box-shadow: 0 0 50px black;
}

.list{
    position: absolute;
    right: 0%;
    top: 0;
    margin-top: 85px;
    margin-bottom: 85px;
    margin-right: 400px;
}
.list ul{
    text-align: center;
}
.list ul li{
    display: inline-block;
}
.list-a{
    text-transform: uppercase;
    font-family: fantasy;
    color: black;
    font-size: 30px;
    margin-left: 100px;
}
.red{
    color: red;
    text-decoration-line: underline;
    text-decoration-color: rgb(139, 14, 14);
}
/*lokal*/
.lok{
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    height: 600px;
}
.lokal{
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    background-color: rgba(0, 0, 0, 0.815);
    width: 100%;
    height: 300px;
}
.lok-desc{
    color: white;
    font-family: fantasy;
    letter-spacing: 2px;
    font-size: 80px;
   text-transform: uppercase;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/*menu button*/
.menu{
    position: absolute;
    top: 100%;
    height: auto;
    width: 100%;
    padding-top: 20vh;
    padding-bottom: 10vh;
}

.menu-btn{
    text-align: center;
    margin-bottom: 50px;
    border: none;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.877);
    height: 200px;
}
.menu-title{
    padding: 80px 170px;
    font-family: fantasy;
    font-size: 100px;
    border: none;
    background-color: rgb(212, 28, 28);
    box-shadow: 0 0 50px black;
    border-radius: 30px;
    margin-top: -40px;
}

/*positions*/
.menu-positions{
    position: absolute;
    height: 500px;
    display: inline-block;
}

.menu-list{
    position: relative;
    max-width: 300px;
    margin-top: 110px;
    margin-left: 200px;
    font-family: fantasy;
    font-size: 40px;
}
.menu-list li{
    margin-top: 20px;
}
.menu-link{
    color: black;
}
.menu-link:hover{
    color: red;
}

.menu-desc{
    max-width: 500px;
    margin-top: 100px;
    right: 37%;
}
.desc{
    font-family: fantasy;
    font-size: 40px;
}

.menu-img{
    right: -66%;
    margin-top: -50px;
    position: relative;
}